body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin: auto;
    background-color: blanchedalmond;
    text-align: center;
}

*{
    box-sizing: border-box;
}

header {
    background-color: azure;
    width: 200px;
    min-height: 30px;
    border-bottom: #bbbbbb;
    padding: 30px auto;
    margin: auto;
    margin-top: 20px;
    
}

section {
    background-color: gainsboro;
    width: 200px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin: auto;
    text-align: center;
    
}